{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login Page</title>
</head>
<body>
{% include 'navbar.html' %}
<br><br>
<h2>Login Form</h2>
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter the Username"><br>
    <input type="password" name="password" placeholder="Enter the Password"><br>
    <button id="submit">Login</button>
</form>
{% include 'footer.html' %}
</body>
{% for m in messages %}
{{m}}
{% endfor %}
</html>